*{outline:none !important;}

.forgot-pass {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    padding: 0;
	cursor:pointer;
   
}

.white-wrapper {
    background: rgba(250, 250, 250, 0.9) none repeat scroll 0 0;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
    display: block;
    margin: 4% auto auto;
    max-width: 536px;
    padding: 8px 10px 17px;
    position: relative;
    width: 100%;

}

.cross-sign-up-btn > img {
    cursor: pointer;
    position: absolute;
    right: 14px;
    top: 14px;
    width: 17px;
	z-index:999;
	opacity:0.6;
}

.modal {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    z-index: 99999;
}

.sign-up-bg {
	position:relative;
    background: #f8f8f8;
    padding: 10px;
    margin-top: 1px;
}

.body-2{overflow:hidden !important;}
.logmod-2{display:block !important;}

.logmod {
	
	  background:rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
	overflow:auto;
  display:none ;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;


background-size:cover;
background-position:center;

  z-index: 9999;
}
.logmod::after {
  clear: both;
  content: "";
  display: table;
}

.welcome-text-login {
   margin: 4% auto 0%;
    text-align: center;
    width: 70%;
}


.welcome-text-login h2 {
     color: #1a9dbc;
    font-size: 26px;
    margin-bottom: 14px;
    margin-top: 28px;
}

.welcome-text-login p {
 color: #777;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: lighter;
    width: 100%;
    max-width: 410px;
    margin: auto;
    margin-bottom: 39px;
}

.vetco-logo  {
    width: 180px;
}

.logmod__wrapper {
    display: block;
    margin: auto;
    max-width: 460px;
    overflow: hidden;
    position: relative;
}

.logmod__close {
  display: block;
  position: absolute;
  right: 50%;
  background: url("http://imgh.us/close_white.svg") no-repeat scroll 0% 0% transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  top: -72px;
  margin-right: -24px;
  width: 48px;
  height: 48px;
}
.logmod__container {
  overflow: hidden;
  width: 100%;
  text-align:center;
}
.logmod__container::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__tab {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.logmod__tab-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.logmod__tab.show {
  opacity: 1;
  height: 100%;
  visibility: visible;
}
.logmod__tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}
.logmod__tabs::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__tabs li.current a {
      background: #1A9DBC;
    color: #fff;

}

.logmod__tabs li{display: inline; margin-left:-5px;}

.logmod__tabs li a {
   background: rgba(26, 160, 190, 0.2) none repeat scroll 0 0;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    height: 42px;
    line-height: 6px;
    margin-top: 13px;
    padding-top: 17px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 27%;}

.sign-up-form {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    margin: 50px auto;
    padding: 30px;
    width: 100%;
	max-width:630px;
	box-shadow:0 0 25px -1px rgba(0,0,0,0.1);

}


.logmod__tabs li a:focus {
  outline: dotted 1px;
}
.logmod__heading {
  text-align: center;
  padding: 12px 0 12px 0;
}
.logmod__heading-subtitle {
  display: block;
  font-weight: 400;
  font-size: 15px;
  color: #888;
  line-height: 32px;
}
.logmod__form {
 
 
}
.logmod__alter {
  display: block;
  position: relative;
  margin-top: 7px;
}
.logmod__alter::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__alter .connect:last-child {
  border-radius: 0 0 4px 4px;
}

.connect {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  height: 72px;
  line-height: 72px;
  text-decoration: none;
}
.connect::after {
  clear: both;
  content: "";
  display: table;
}
.connect:focus, .connect:hover, .connect:visited {
  color: #FFF;
  text-decoration: none;
}
.connect__icon {
  vertical-align: middle;
  float: left;
  width: 70px;
  text-align: center;
  font-size: 22px;
}
.connect__context {
  vertical-align: middle;
  text-align: center;
}
.connect.facebook {
  background: #3b5998;
  color: #FFF;
}
.connect.facebook a {
  color: #FFF;
}
.connect.facebook .connect__icon {
  background: #283d68;
}
.connect.googleplus {
  background: #dd4b39;
  color: #FFF;
}
.connect.googleplus a {
  color: #FFF;
}
.connect.googleplus .connect__icon {
  background: #b52f1f;
}

.simform {
  position: relative;
}
.simform__actions {
  padding: 12px 15px;
  font-size: 14px;
}
.simform__actions::after {
  clear: both;
  content: "";
  display: table;
}


.modal-dialog.forgot-pss-popup{overflow: hidden;
    border-radius: 5px;
    top: 15%;
    box-shadow: 0 0 61px -13px rgba(0,0,0,0.7);
}


.modal-body.forgot-pss-popup button{
	
	  background: #1bbdd2; 
background: -moz-linear-gradient(left, #1bbdd2 0%, #1a9bbb 100%); 
background: -webkit-linear-gradient(left, #1bbdd2 0%,#1a9bbb 100%);
background: linear-gradient(to right, #1bbdd2 0%,#1a9bbb 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1bbdd2', endColorstr='#1a9bbb',GradientType=1 );

    color: #fff;
    display: block;
    font-size: 16px;
    height: 50px;
    max-width: 190px;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
    width: 100%;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
	margin-top:20px;
	}

	.modal-body{background:#f8f8f8 !important; border-radius:4px;}
	
.modal-body.forgot-pss-popup > p {
        color: #888;
    font-size: 15px;
    font-weight: 100;
    line-height: 25px;
    margin: 5px auto 20px;
    text-align: center;
    width: 83%;
}


.modal-title{
    text-align: center;
    padding: 2px 0 !important;
    font-size: 20px  !important;
}


.modal-header {border-radius:4px 4px  0 0px;
    -moz-box-align: center;
    -moz-box-pack: justify;
    align-items: center;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #1bbdd2 0%, #1a9bbb 100%) repeat scroll 0 0;
    color: #fff;
    justify-content: space-between;
    padding: 15px;
}

.modal-dialog {
    margin: 30px auto;
    max-width: 500px;
}

.modal-header .close {
    margin-top: -2px;
    z-index: 9999;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    font-size: 35px;
    padding: 0 !important;
    margin: 0;
    line-height: 19px;
    position: absolute;
    right: 13px;
}

.simform__actions .sumbit:hover{ }
.simform__actions .sumbit {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #1bbdd2 0%, #1a9bbb 100%) repeat scroll 0 0;
  /*   box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3); */
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 300;
    height: 55px;
    margin: 10px auto 18px;
    max-width: 200px;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
    width: 100%;
}
.simform__actions .sumbit::after {
  clear: both;
  content: "";
  display: table;
}
.simform__actions-sidetext {
    color: #8c979e;
    display: block;
    line-height: 24px;
    padding: 0 10px;
    text-align: center;
    width: 100%;
}
.simform__actions-sidetext::after {
  clear: both;
  content: "";
  display: table;
}

.sminputs:hover{
  
}
.sminputs {
	transition:all ease-in-out .2s;

}
.sminputs::after {
  clear: both;
  content: "";
  display: table;
}
.sminputs .input {
 -moz-appearance: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-sizing: border-box;
    display: block;
    float: left;
    position: relative;
 
}

.login-user-icon{ background:url(../images/login-icons/ic_username_hdpi.png) no-repeat;
background-size:26px ;}

.login-password-icon{
	background:url(../images/login-icons/ic_lock_hdpi.png) no-repeat;
background-size:26px ;
}

.pet-owner-icon{ 	background:url(../images/add-new-pet/ic_username_hdpi.png) no-repeat;
background-size:26px ;}

.add-new-pet-email-id{background:url(../images/ic_white_email_hdpi.png) no-repeat;
background-size:26px ;}

.add-new-pet-phone-number{background:url(../images/add-new-pet/ic_white_call_hdpi.png) no-repeat;
background-size:26px ;}

.sminputs .input.active {
  background: #eee;
}
.sminputs .input.active .hide-password {
  background: #eee;
}
.sminputs .input.full {
  width: 100%;
}
.sminputs .input label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  line-height: 24px;
}
.sminputs .input input {
    background-color: transparent;
    background-position: 7px 9px;
    border: 1px solid #1a9cbc;
    box-shadow: none;
    box-sizing: border-box;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 45px;
    margin-bottom: 10px;
    padding-left: 46px;
    padding-top: 0;
    vertical-align: middle;
    width: 73%;
}
.sminputs .hide-password {
 background: #fff none repeat scroll 0 0;
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    line-height: 34px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0 11px;
    position: absolute;
    right: 68px;
    top: 0;
}



.btn, .simform__actions .sumbit {
  background: #1bbdd2; 
background: -moz-linear-gradient(left, #1bbdd2 0%, #1a9bbb 100%); 
background: -webkit-linear-gradient(left, #1bbdd2 0%,#1a9bbb 100%);
background: linear-gradient(to right, #1bbdd2 0%,#1a9bbb 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1bbdd2', endColorstr='#1a9bbb',GradientType=1 );

   
    color: #fff;
    display: block;
    font-size: 16px;
    height: 50px;
    max-width: 190px;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
    width: 100%;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
	margin-top:10px;
}
.btn.full, .simform__actions .full.sumbit {
  width: 100%;
}
.btn.lg, .simform__actions .lg.sumbit {
  min-width: 125px;
  padding: 17px 14px;
  font-size: 22px;
  line-height: 1.3;
}
.btn.sm, .simform__actions .sm.sumbit {
  min-width: 65px;
  padding: 4px 12px;
  font-size: 14px;
}
.btn.xs, .simform__actions .xs.sumbit {
  min-width: 45px;
  padding: 2px 10px;
  font-size: 10px;
  line-height: 1.5;
}
.btn.circle, .simform__actions .circle.sumbit {
  overflow: hidden;
  width: 56px;
  height: 56px;
  min-width: 56px;
  line-height: 1;
  padding: 0;
  border-radius: 50%;
}
.btn.circle.lg, .simform__actions .circle.lg.sumbit {
  width: 78px;
  height: 78px;
  min-width: 78px;
}
.btn.circle.sm, .simform__actions .circle.sm.sumbit {
  width: 40px;
  height: 40px;
  min-width: 40px;
}
.btn.circle.xs, .simform__actions .circle.xs.sumbit {
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.btn:focus, .simform__actions .sumbit:focus, .btn:active, .simform__actions .sumbit:active, .btn.active, .simform__actions .active.sumbit, .btn:active:focus, .simform__actions .sumbit:active:focus, .btn.active:focus, .simform__actions .active.sumbit:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}
.btn.red, .simform__actions .red.sumbit {
  background: #f44336;
  color: #FFF;
}
.btn.red:active, .simform__actions .red.sumbit:active, .btn.red:focus, .simform__actions .red.sumbit:focus {
  background-color: #ef1d0d;
}
.btn.red:hover, .simform__actions .red.sumbit:hover {
  background-color: #f32c1e;
}
.btn.pink, .simform__actions .pink.sumbit {
  background: #E91E63;
  color: #FFF;
}
.btn.pink:active, .simform__actions .pink.sumbit:active, .btn.pink:focus, .simform__actions .pink.sumbit:focus {
  background-color: #c61350;
}
.btn.pink:hover, .simform__actions .pink.sumbit:hover {
  background-color: #d81558;
}
.btn.purple, .simform__actions .purple.sumbit {
  background: #9C27B0;
  color: #FFF;
}
.btn.purple:active, .simform__actions .purple.sumbit:active, .btn.purple:focus, .simform__actions .purple.sumbit:focus {
  background-color: #7b1f8a;
}
.btn.purple:hover, .simform__actions .purple.sumbit:hover {
  background-color: #89229b;
}
.btn.deep-purple, .simform__actions .deep-purple.sumbit {
  background: #673AB7;
  color: #FFF;
}
.btn.deep-purple:active, .simform__actions .deep-purple.sumbit:active, .btn.deep-purple:focus, .simform__actions .deep-purple.sumbit:focus {
  background-color: #532f94;
}
.btn.deep-purple:hover, .simform__actions .deep-purple.sumbit:hover {
  background-color: #5c34a4;
}
.btn.indigo, .simform__actions .indigo.sumbit {
  background: #3F51B5;
  color: #FFF;
}
.btn.indigo:active, .simform__actions .indigo.sumbit:active, .btn.indigo:focus, .simform__actions .indigo.sumbit:focus {
  background-color: #334293;
}
.btn.indigo:hover, .simform__actions .indigo.sumbit:hover {
  background-color: #3849a2;
}
.btn.blue, .simform__actions .blue.sumbit {
  background: #2196F3;
  color: #FFF;
}
.btn.blue:active, .simform__actions .blue.sumbit:active, .btn.blue:focus, .simform__actions .blue.sumbit:focus {
  background-color: #0c7fda;
}
.btn.blue:hover, .simform__actions .blue.sumbit:hover {
  background-color: #0d8aee;
}
.btn.light-blue, .simform__actions .light-blue.sumbit {
  background: #03A9F4;
  color: #FFF;
}
.btn.light-blue:active, .simform__actions .light-blue.sumbit:active, .btn.light-blue:focus, .simform__actions .light-blue.sumbit:focus {
  background-color: #028ac7;
}
.btn.light-blue:hover, .simform__actions .light-blue.sumbit:hover {
  background-color: #0398db;
}
.btn.cyan, .simform__actions .cyan.sumbit {
  background: #00BCD4;
  color: #FFF;
}
.btn.cyan:active, .simform__actions .cyan.sumbit:active, .btn.cyan:focus, .simform__actions .cyan.sumbit:focus {
  background-color: #0093a6;
}
.btn.cyan:hover, .simform__actions .cyan.sumbit:hover {
  background-color: #00a5bb;
}
.btn.teal, .simform__actions .teal.sumbit {
  background: #009688;
  color: #FFF;
}
.btn.teal:active, .simform__actions .teal.sumbit:active, .btn.teal:focus, .simform__actions .teal.sumbit:focus {
  background-color: #00685e;
}
.btn.teal:hover, .simform__actions .teal.sumbit:hover {
  background-color: #007d71;
}
.btn.green, .simform__actions .green.sumbit {
  background: #4CAF50;
  color: #FFF;
}
.btn.green:active, .simform__actions .green.sumbit:active, .btn.green:focus, .simform__actions .green.sumbit:focus {
  background-color: #3e8f41;
}
.btn.green:hover, .simform__actions .green.sumbit:hover {
  background-color: #449d48;
}
.btn.light-green, .simform__actions .light-green.sumbit {
  background: #8BC34A;
  color: #FFF;
}
.btn.light-green:active, .simform__actions .light-green.sumbit:active, .btn.light-green:focus, .simform__actions .light-green.sumbit:focus {
  background-color: #74a838;
}
.btn.light-green:hover, .simform__actions .light-green.sumbit:hover {
  background-color: #7eb73d;
}
.btn.lime, .simform__actions .lime.sumbit {
  background: #CDDC39;
  color: #FFF;
}
.btn.lime:active, .simform__actions .lime.sumbit:active, .btn.lime:focus, .simform__actions .lime.sumbit:focus {
  background-color: #b6c423;
}
.btn.lime:hover, .simform__actions .lime.sumbit:hover {
  background-color: #c6d626;
}
.btn.yellow, .simform__actions .yellow.sumbit {
  background: #FFEB3B;
  color: #FFF;
}
.btn.yellow:active, .simform__actions .yellow.sumbit:active, .btn.yellow:focus, .simform__actions .yellow.sumbit:focus {
  background-color: #ffe60d;
}
.btn.yellow:hover, .simform__actions .yellow.sumbit:hover {
  background-color: #ffe822;
}
.btn.amber, .simform__actions .amber.sumbit {
  background: #FFC107;
  color: #FFF;
}
.btn.amber:active, .simform__actions .amber.sumbit:active, .btn.amber:focus, .simform__actions .amber.sumbit:focus {
  background-color: #d8a200;
}
.btn.amber:hover, .simform__actions .amber.sumbit:hover {
  background-color: #edb100;
}
.btn.orange, .simform__actions .orange.sumbit {
  background: #FF9800;
  color: #FFF;
}
.btn.orange:active, .simform__actions .orange.sumbit:active, .btn.orange:focus, .simform__actions .orange.sumbit:focus {
  background-color: #d17d00;
}
.btn.orange:hover, .simform__actions .orange.sumbit:hover {
  background-color: #e68900;
}
.btn.deep-orange, .simform__actions .deep-orange.sumbit {
  background: #FF5722;
  color: #FFF;
}
.btn.deep-orange:active, .simform__actions .deep-orange.sumbit:active, .btn.deep-orange:focus, .simform__actions .deep-orange.sumbit:focus {
  background-color: #f33a00;
}
.btn.deep-orange:hover, .simform__actions .deep-orange.sumbit:hover {
  background-color: #ff4409;
}
.btn.brown, .simform__actions .brown.sumbit {
  background: #795548;
  color: #FFF;
}
.btn.brown:active, .simform__actions .brown.sumbit:active, .btn.brown:focus, .simform__actions .brown.sumbit:focus {
  background-color: #5c4137;
}
.btn.brown:hover, .simform__actions .brown.sumbit:hover {
  background-color: #694a3e;
}
.btn.grey, .simform__actions .grey.sumbit {
  background: #9E9E9E;
  color: #FFF;
}
.btn.grey:active, .simform__actions .grey.sumbit:active, .btn.grey:focus, .simform__actions .grey.sumbit:focus {
  background-color: #878787;
}
.btn.grey:hover, .simform__actions .grey.sumbit:hover {
  background-color: #919191;
}
.btn.blue-grey, .simform__actions .blue-grey.sumbit {
  background: #607D8B;
  color: #FFF;
}
.btn.blue-grey:active, .simform__actions .blue-grey.sumbit:active, .btn.blue-grey:focus, .simform__actions .blue-grey.sumbit:focus {
  background-color: #4d6570;
}
.btn.blue-grey:hover, .simform__actions .blue-grey.sumbit:hover {
  background-color: #566f7c;
}


 
.modal-body input:focus{border-color:#1AA1BF;}
.modal-body input:hover{border-color:#1AA1BF;}

.modal-body input {
 background-color: #fff;
    background-position: 6px 9px;
    border: 1px solid #1a9cbc;
    box-shadow: none;
    box-sizing: border-box;
    color: #555;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 45px;
    margin: 12px auto auto;
    mask: none repeat 0 0 add match-source;
    padding-left: 46px;
    vertical-align: middle;
    width: 73%;
}


.forgot-pass:hover a{color:#111 !important;}

.forgot-pass a {
    color: #888;
    transition: all ease-in-out .2s;
    font-weight: 100;
    letter-spacing: 0.5px;
}
.special:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0px;
  left: 0;
  top:19px;
  background: #666;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.special:hover {
  transition: all 0.15s ease-out;
}
.special:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#baseline {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-image: url(http://basehold.it/i/24);
}
